.custom-link {
  border: 2px solid #4ba5e5;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  padding: 5px 30px;
  display: block;
  text-decoration: none;
  color: #4ba5e5;
  transition: background 0.3s ease;
}

.custom-link:hover {
  background-color: #4ba5e5;
  color: white;
}
