.section-maxwidth {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 20px;
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.grid-estadisticas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .section-maxwidth {
    padding: 20px 10px;
  }

  .grid-services {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}